<!-- <app-website-development></app-website-development> -->

<!-- <app-consultation-services></app-consultation-services> -->
<!-- <router-outlet></router-outlet> -->



<!-- new try code  -->


<section class="container-fluid digital-excellence-section">
    <div class="container digital-excellence-section-continer">

                <div class="row align-items-center">
      
      <!-- Left Content -->
      <div class="col-lg-6 col-md-12 text-section">
        <h2>
          Transforming Ideas <br />
          <span class="highlight">into Digital Excellence</span>
        </h2>
        <p class="subtitle">
          build a better reputation, and attract more students —
          while reducing administrative effort and tech fatigue?
        </p>
        <p class="small-text">
          We’ve helped 50+ education organizations get these results — yours could be next.
        </p>

        <!-- <button class="btn btn-primary btn-lg mt-3">
          Check Our Case Studies
        </button> -->
        <button class="btn btn-primary btn-lg mt-3">Check Our Case Studies<img src="assets/images/btn-arrow.svg" alt="arrow"
            class="banner-arrow"></button>
      </div>
      </div>
    </div>
</section>




<!-- Solution section -->
<!-- <section class="solutions-section">
  <div class="solutions-header">
    <h2>Your Business Goals, Our Solutions to Make Them a Reality</h2>
    <p>
      Efficiently handle your repetitive, time-consuming administrative tasks without over-burdening faculty or resources.
    </p>
  </div>




  <div class="col-lg-7">
        <div class="services-slider-wrapper">
          <div class="slider-track d-flex">
            <div class="ser-box" *ngFor="let service of services; let i = index">
              <img [src]="service.img" class="img-fluid ser-box-img" alt="{{ service.title }}" />
              <h4 class="service-title-card">{{ service.title }}</h4><h1>NOT WORKIGN</h1>
              <p>{{ service.description }}</p>
            </div>
          </div>
        </div>
      </div>

  <div class="solutions-arrows">
    <button class="arrow-btn">‹</button>
    <button class="arrow-btn">›</button>
  </div>
</section> -->



<section class="container-fluid service-section">
  <section class="service-section-container">
    <div class="row align-items-center service-text">

      <h1 class="service-bg-title">Your Business Goals, Our Solutions to Make Them a Reality</h1>
      <h3 class="service-bg-subtitle">Efficiently handle your repetitive, time-consuming administrative tasks without over boarding faculty or resources.</h3>
      </div>

    <!-- <div class="row justify-content-center service-cards">
      
      <div class="col-lg-auto col-md-6 col-sm-12 mb-4 d-flex" style="flex: 0 0 378px;">
        <div class="service-card flex-fill fixed-card-size">
          <img src="assets/images/1.svg" class="img-fluid ser-box-img" alt="Website Development" />
          <h4 class="service-title-card">Website Development</h4>
          <p>Create fast, responsive websites that hook visitors and push them down the conversion pipeline.</p>
        </div>
      </div>
      
      <div class="col-lg-auto col-md-6 col-sm-12 mb-4 d-flex" style="flex: 0 0 378px;">
        <div class="service-card flex-fill fixed-card-size">
          <img src="assets/images/2.svg" class="img-fluid ser-box-img" alt="Application Development" />
          <h4 class="service-title-card">Application Development</h4>
          <p>Build custom applications that automate staff tasks, meet regulatory requirements, and improve service delivery.</p>
        </div>
      </div>
     
      <div class="col-lg-auto col-md-6 col-sm-12 mb-4 d-flex" style="flex: 0 0 378px;">
        <div class="service-card flex-fill fixed-card-size">
          <img src="assets/images/3.svg" class="img-fluid ser-box-img" alt="Data and Analytics" />
          <h4 class="service-title-card">Data and Analytics</h4>
          <p>Turn data into insights to make smarter business decisions.</p>
        </div>
      </div>
      
      <div class="col-lg-auto col-md-6 col-sm-12 mb-4 d-flex" style="flex: 0 0 378px;">
        <div class="service-card flex-fill fixed-card-size">
          <img src="assets/images/4.svg" class="img-fluid ser-box-img" alt="Security Services" />
          <h4 class="service-title-card">Security Services</h4>
          <p>Keep your systems secure with proactive security solutions.</p>
        </div>
      </div>
     
      <div class="col-lg-auto col-md-6 col-sm-12 mb-4 d-flex" style="flex: 0 0 378px;">
        <div class="service-card flex-fill fixed-card-size">
          <img src="assets/images/5.svg" class="img-fluid ser-box-img" alt="Cloud Services" />
          <h4 class="service-title-card">Cloud Services</h4>
          <p>Access scalable, reliable cloud solutions for better business agility.</p>
        </div>
      </div>
     
      <div class="col-lg-auto col-md-6 col-sm-12 mb-4 d-flex" style="flex: 0 0 378px;">
        <div class="service-card flex-fill fixed-card-size">
          <img src="assets/images/6.png" class="img-fluid ser-box-img" alt="Emerging Technologies" />
          <h4 class="service-title-card">Emerging Technologies</h4>
          <p>Implement cutting-edge technologies to drive innovation and growth.</p>
        </div>
      </div>
    </div> -->



    <div class="d-flex align-items-center service-card-container-wrapper">
      <!-- Cards Container -->
      <div class="cards-container overflow-hidden">
        <div class="cards-row d-flex" id="cardsRow">
          
          <div class="service-card fixed-card-size card-color-1 ">
            <img src="assets/images/Services/service-card-1.svg" alt="Website Development" class="img-fluid-service ser-box-img" />
            <h4 class="service-title-card title-color-1">Website Development</h4>
            <p class="service-card-description">Create fast, responsive websites that hook visitors and push them down the conversion pipeline.</p>
          </div>

          <div class="service-card fixed-card-size card-color-2 ">
            <img src="assets/images/Services/service-card-2.svg" alt="Application Development" class="img-fluid-service ser-box-img" />
            <h4 class="service-title-card title-color-2">Application Development</h4>
            <p class="service-card-description">Build custom applications that automate staff tasks, meet regulatory requirements, and improve service delivery.</p>
          </div>


           <div class="service-card fixed-card-size card-color-3">
            <img src="assets/images/Services/service-card-3.svg" alt="Consultation and Managed Services" class="img-fluid-service ser-box-img" />
            <h4 class="service-title-card title-color-3">Consultation and Managed Services</h4>
            <p class="service-card-description">Build custom applications that automate staff tasks, meet regulatory requirements, and improve service delivery.</p>
          </div>
          

          <div class="service-card fixed-card-size card-color-4">
            <img src="assets/images/Services/service-card-4.svg" alt="Data and Analytics" class="img-fluid-service ser-box-img" />
            <h4 class="service-title-card title-color-4">Data and Analytics</h4>
            <p class="service-card-description">Turn data into insights to make smarter business decisions.</p>
          </div>

          <!-- <div class="service-card fixed-card-size card-color-5">
            <img src="assets/images/Services/service-card-4.svg" alt="Security Services" class="img-fluid-service ser-box-img" />
            <h4 class="service-title-card title-color-5">Security Services</h4>
            <p class="service-card-description">Keep your systems secure with proactive security solutions.</p>
          </div>
          
          <div class="service-card fixed-card-size card-color-6">
            <img src="assets/images/5.svg" alt="Cloud Services" class="img-fluid-service ser-box-img" />
            <h4 class="service-title-card title-color-6">Cloud Services</h4>
            <p class="service-card-description">Access scalable, reliable cloud solutions for better business agility.</p>
          </div>

          <div class="service-card fixed-card-size card-color-7">
            <img src="assets/images/6.png" alt="Emerging Technologies" class="img-fluid-service ser-box-img" />
            <h4 class="service-title-card title-color-7">Emerging Technologies</h4>
            <p class="service-card-description">Implement cutting-edge technologies to drive innovation and growth.</p>
          </div> -->

        </div>
      </div>
    </div>
    <div class="services-button">
      <div class="service-section-btn mob-control">
          <button (click)="scrollLeft()" [disabled]="isLeftDisabled" class="btn service-btn-left">
            <img src="assets/images/service-arrow-left.svg" alt="left arrow" />
          </button>
          <button (click)="scrollRight()"class="btn service-btn-right">
            <img src="assets/images/service-arrow-right.svg" alt="right arrow" />
          </button>
        </div>
    </div>

    </section>
  </section>










<!-- THIS IS FAQ SECTION -->



<section class="faq-section">
  <h2>FAQs</h2>
  
  <div class="faq">
    <div class="faq-item open">
      <button class="faq-question" data-index="0" (click)="toggleJob($event)">
        <span #topSection >1. Who can use SAKHYAM?</span>
      </button>
      <div class="faq-answer">
        <p>
          SAKHYAM is designed for state governments, cooperative departments, and society offices 
          and users from other industries looking to digitize their workflows and enhance e-governance.  
          It helps streamline administration, improve operations, and increase transparency.
        </p>
      </div>
    </div>

    <div class="faq-item ">
      <button class="faq-question" data-index="1"  #topSection (click)="toggleJob($event)">
        <span>2. How does SAKHYAM simplify society management?</span>
      </button>
      <div class="faq-answer">
        <p>
          It automates workflows, centralizes data, and ensures faster approvals, reducing manual effort 
          and errors in society management.
        </p>
      </div>
    </div>

    <div class="faq-item ">
      <button class="faq-question" data-index="2" (click)="toggleJob($event)">
        <span>3. Can SAKHYAM track officer activities?</span>
      </button>
      <div class="faq-answer">
        <p>
          Yes, it offers real-time monitoring tools to track officer and employee activities digitally.
        </p>
      </div>
    </div>

    <div class="faq-item ">
      <button class="faq-question" data-index="3" (click)="toggleJob($event)">
        <span>4. Is SAKHYAM customizable?</span>
      </button>
      <div class="faq-answer">
        <p>
          Absolutely! It can be customized to fit the requirements of different departments or societies.
        </p>
      </div>
    </div>

    <div class="faq-item ">
      <button class="faq-question" data-index="4" (click)="toggleJob($event)">
        <span>5. What technology powers SAKHYAM?</span>
      </button>
      <div class="faq-answer">
        <p>
          It is powered by modern web technologies, ensuring scalability, security, and efficiency.
        </p>
      </div>
    </div>
  </div>
</section>



<!-- THIS IS THE READY SECTION -->


<section class="ready-sec section">
  <div class="container foot-form">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <h2 class="main-sec-head">
          Ready to discuss your toughest <span class="tech-span">tech challenges?</span>
        </h2>
        <p>Fill out the form and get on a call within 24-48 hours with our product and tech expert.</p>
        <p>No account managers - <a href="#" class="promise">that's a promise.</a></p>
      </div>

      <div class="col-lg-7">
        <form (ngSubmit)="onSubmit()" class="form-box">
          <div class="form-group">
            <label>Hello, my name is:</label>
            <input type="text" class="form-control" placeholder="Full name*" formControlName="fullName" />
            <div *ngIf="contactForm.get('fullName')?.touched && contactForm.get('fullName')?.invalid" class="text-danger">
              Name is required.
            </div>
          </div>

          <div class="form-group">
            <label>Here is my email:</label>
            <input type="email" class="form-control" placeholder="Email address*" formControlName="email" />
            <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid" class="text-danger">
              Valid email is required.
            </div>
          </div>

          <div class="form-group">
            <label>About project:</label>
            <textarea class="form-control center-placeholder" placeholder="Your project description*" formControlName="projectDescription"></textarea>
            <div *ngIf="contactForm.get('projectDescription')?.touched && contactForm.get('projectDescription')?.invalid" class="text-danger">
              Project description is required.
            </div>
          </div>

          <button class="btn btn-animate" type="submit">
            Send <img src="assets/images/btn-arrow.svg" alt="" class="img-fluid" />
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
