.digital-excellence-section {
  display: flex;
  justify-content: center;
  text-align: justify;
background-image: url('../../../../public/assets/images/Services/Service1-bg.png');
  margin: 0 ;
background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 101%;
    height: 102%;
    padding: 220px 80px 143px 49px;
  .digital-excellence-section-continer{
    margin: 0;
    padding: 0;
  }



  h2 {
    color: #000000;
    font-family: 'Geist', sans-serif;
font-weight: 250;
font-size: 83px;
line-height: 110.00000000000001%;
letter-spacing: 0%;
    min-width: 871px;


    .highlight {
      color: #000000;
     font-family: 'Geist', sans-serif;
font-weight: 700;
font-size: 79px;
line-height: 110.00000000000001%;
letter-spacing: 0%;


    }
  }

  .subtitle {
    color: #000000;
     font-family: 'Geist', sans-serif;
font-weight: 500;
font-size: 28px;
line-height: 120%;
letter-spacing: 0%;
    min-width: 703px;
    margin-top: 22px;

  }

  .small-text {
    color: #1F42AF;
    font-family: "Outfit", sans-serif !important;
font-weight: 400;
font-size: 18px;
line-height: 35px;
letter-spacing: 0%;
     min-width: 649px;

  }

  .btn-primary {
    opacity: 0;
    background: linear-gradient(139.25deg, #0A47B9 9.68%, #763289 90.62%);
    width: 50%;
    border: none;
    border-radius: 30px;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 1;
     padding: 16px 10px 15px 10px;
  transform: translateX(100%);
  animation: slideInFromRight 2s forwards;
  animation-delay: 0.9s;
  }
  .btn-primary:hover{
     transform: translateY(-5px) scale(1.05);
  box-shadow: 4px 12px 25px rgba(10, 71, 185, 0.4);
  }
  .banner-arrow {
  // display: flex;
  // justify-content:center;
  gap: 20px;
  margin-left: 20px;
  align-items: center;
  transition: all 0.3s ease;
}
.btn-primary:hover .banner-arrow {
  transform: rotate(13deg);
  margin-left: 27px;
}


  @media (max-width: 991px) {
    text-align: center;
    .btn-primary {
      margin-top: 15px;
    }
  }
}


// New service component

.service-section{
  padding: 0;
  margin: 0;
  background: url('../../../../public/assets/images/Services/service-section-bg.svg');
}

.service-text{
  padding: 50px 0 0px 50px;
}

.service-bg-title{
  padding: 0 0 0 60px;

font-family: Geist;
font-weight: 700;
font-style: Bold;
font-size: 40px;




}

.service-bg-subtitle{
  padding: 0 0 0 60px;



  font-family: Geist;
font-weight: 400;
font-style: Regular;
font-size: 20px;




}



.service-cards{
  opacity: 1 !important;
}


// CARDS TRY SERVICE SECTION


.service-card-container-wrapper{
  // background: antiquewhite;
}


.cards-container {
  width: 1350px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.cards-row {
  display: flex;
  transition: transform 0.3s ease;
      padding: 30px 30px 30px 30px;
  
    gap: 30px;
}

.service-card.fixed-card-size {
  // min-width: 378px;
     max-width: 306px;
    height: 400px;
  flex-shrink: 0;
  // background: #fff;
  border-radius: 10px;
  padding: 50px 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

.img-fluid-service{
  align-self: flex-start;
  height: 80px;
  width: 80px;
      margin: 0 0 20px 0;
    // border-bottom: antiquewhite 6px solid
}


.service-title-card{
  font-family: Geist;
font-weight: 700;
font-style: Bold;
font-size: 30px;
    margin: 0 0 14px 0;
    height: 90px;

}




.service-card-description{
font-family: Outfit;
font-weight: 400;
font-size: 16px;

text-align: left;
}




.card-color-1 {
  background-image: url('../../../../public/assets/images/Services/card-bg.png'),
  linear-gradient(163.74deg, #EEF4FF 8.39%, #DDDEE7 99.02%);

}

.title-color-1 {
  color: #33336A;

}

.card-color-2 {
  background-image: url('../../../../public/assets/images/Services/card-bg.png'),
  linear-gradient(163.74deg, #D3E5F3 8.39%, #83DEFF 99.02%);

}

.title-color-2 {
  color: #1D3E81;

}

.card-color-3 {
  background-image: url('../../../../public/assets/images/Services/card-bg.png'),
  linear-gradient(163.74deg, #F5EDFF 8.39%, #D0C8FF 99.02%);

}

.title-color-3 {
  color: #5131B0;

}


.card-color-4 {
  background-image: url('../../../../public/assets/images/Services/card-bg.png'),
  linear-gradient(158.92deg, #FFF3F0 -0.29%, #FFDACF 94.83%);


}

.title-color-4 {
  color: #C33923;

}


.card-color-5{
   background-image: url('../../../../public/assets/images/Services/card-bg.png'),
    linear-gradient(163.74deg, #F5EDFF 8.39%, #D0C8FF 99.02%);
}

.card-color-6{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   background-image: url('../../../../public/assets/images/Services/card-bg.png'),
    linear-gradient(158.92deg, #FFF3F0 -0.29%, #FFDACF 94.83%);
}



.services-button{
  padding: 0 0 30px 100px;
}







.service-section-btn {
  display: flex;
  gap: 5px;
  --bs-border-radius: 3px;
}

.service-btn-left,
.service-btn-right {
  border: #F24E1E 1px solid;
  color: #F24E1E;
  width: 60px;
  height: 60px;




  &:active {
    border-color: #e03e1a;
    transform: scale(0.95);
  }

  &:hover:not(:disabled) {
    background-color: #ffe3e3;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}









// THIS IS FOR FAQ SECTION


.faq-section {
  // background: #f7f7f7;
  // background-image: url('../../../../public/assets/images/sakhyam/faqbg.png');
  background: #F5F5F5;

  padding: 3rem 7rem;
  // width: 800px;
  // margin: auto;
  text-align: left;
  // display: flex;
   background-size: cover; /* width height */
  background-repeat: no-repeat;
  background-position: center;

  h2 {
    font-family: 'Geist',sans-serif !important;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .faq {
    .faq-item {
      background: #fff;
      border-radius: 8px;
      margin-bottom: 1rem;
      overflow: hidden;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);

      &.open .faq-answer {
        max-height: 300px;
        padding: 1rem;
      }

      .faq-question {
        font-family: 'Geist',sans-serif !important;
        width: 100%;
        background: #fff;
        border: none;
        padding: 1.1rem;
        font-size: 20px;
        text-align: left;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background: #f1f1f1;
        }
      }

      .faq-answer {
        font-family: 'Outfit', sans-serif !important;
        max-height: 0;
        // overflow: hidden;
        padding: 0 1rem;
        transition: all 0.3s ease;
        color: #2D2D2D;
        font-size: 0.95rem;
      }
    }
  }
}







// SCSS FOR READY SECTION



// TRY READY SECTION

// TRY READY SECTION

.ready-sec {
  background-image: url('../../../../public/assets/images/sakhyam/dmsbglast.png');
  background-size: 1800px 600px;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: #0074BD !important;
}

.img-fluid {
  margin-top: -10px;
  width: 25px;
  height: 15px;
  margin-left: 30px;
}

.container.foot-form {
  margin-top: 91px;
}

.ready-sec .main-sec-head {
  color: #000000;
  font-family: 'Geist', sans-serif !important;
  font-weight: 100;
  font-size: 70px;
  width: 670px;
  font-style: thin;
  padding: 0;
  background: transparent;
}

.ready-sec .main-sec-head span {
  font-weight: 700;
  font-size: 70px;
  display: block;
}

.ready-sec p {
  font-family: 'Outfit', sans-serif !important;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 400;
  width: 617px;
}

.form-box {
  margin-left: 100px;
  padding: 20px 40px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  height: 520px;
  width: 700px;
  border-radius: 20px;
}

.form-box label {
  font-family: 'Exo 2', sans-serif !important;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.form-box .form-control {
  background: #F7F7F7;
  border: 1px solid #D3D6DA;
  width: 600px;
  height: 65px;
  padding: 0 20px;
  line-height: 50px;
  border-radius: 10px;
}

.form-control::placeholder {
  font-family: 'Exo 2', sans-serif !important;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  text-transform: capitalize;
}

.form-box textarea.form-control {
  height: 144px;
  margin-bottom: 20px;
}

.form-box button {
  height: 60px;
  line-height: 60px;
  border-radius: 40px;
  background: linear-gradient(135deg, #0A47B9 0%, #763289 100%);
  padding: 0 30px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
}

.form-box button:hover {
  color: #fff;
}

.btn-animate:hover .img-fluid {
  transform: rotate(13deg);
  transition: all 0.3s ease-in-out;

}


/* ========== MOBILE (≤700px) ========== */
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .ready-sec {
    padding: 40px 20px 60px;
    background-size: cover;
    background-position: center top;
  }

  .col-lg-5 {
    align-items: left !important;
  }

  .main-sec-head {
    font-size: 24px !important;
    font-weight: 500 !important;
  }

  .main-sec-head span {
    font-size: 32px !important;
  }

  .col-lg-7 {
    margin-top: 40px;
    width: 100% !important;
    padding: 0 10px;
  }

  .ready-sec p {
    width: 100% !important;
    margin-top: 20px;
    text-align: left;
    font-size: 18px !important;
  }

  .form-box {
    margin-left: 0 !important;
    width: 100% !important;
    height: auto;
    padding: 29px 21px;
    border-radius: 15px;
  }

  .form-box label {
    font-size: 21px;
  }

  .form-box .form-control {
    width: 100% !important;
    height: 45px;
    padding: 0 12px;
    line-height: normal;
  }

  .form-box textarea.form-control {
    height: 100px;
    margin-bottom: 15px;
  }

  .form-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    // padding: 0 20px;
    // margin-top: 10px;
  }

  .img-fluid {

    margin-left: 15px;
    width: 30px;
    height: 12px;
    margin-top: -10px;
  }
}

/* ========== TABLET (701px - 1000px) ========== */
@media (min-width: 701px) and (max-width: 1000px) {

  .col-lg-5,
  .col-lg-7 {
    margin-top: 60px;
  }

  .form-box {
    margin-left: 50px;
    width: 100% !important;
    max-width: 600px;
    height: auto;
  }

  .form-box .form-control {
    width: 100% !important;
    height: 55px;
  }

  .form-box textarea.form-control {
    height: 120px;
  }

  .form-box button {
    height: 55px;
    padding: 0 30px;
  }

  .img-fluid {
    width: 22px;
    height: 13px;
    margin-left: 20px;
  }
}

// 


/* ========== MOBILE (≤700px) ========== */
@media (max-width: 700px) {
  .ready-sec {
    padding: 40px 20px 60px;
    background-size: cover;
    background-position: center top;
  }
  .col-lg-5{
    align-items: left !important;
  }

  .main-sec-head {
    font-size: 24px !important;
    font-weight: 500 !important;
  }
  .col-lg-7 {
    margin-top: 40px;
    width: 100% !important;
    padding: 0 10px;
  }

  .ready-sec p {
    width: 100% !important;
    margin-top: 20px;
    text-align: left;
  }

  .form-box {
    margin-left: 0 !important;
    width: 100% !important;
    height: auto;
    padding: 20px 15px;
    border-radius: 15px;
  }

  .form-box .form-control {
    width: 100% !important;
    height: 45px;
    padding: 0 12px;
    line-height: normal;
  }

  .form-box textarea.form-control {
    height: 100px;
    margin-bottom: 15px;
  }

  .form-box button {
        display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    // padding: 0 20px;
    // margin-top: 10px;
  }

  .img-fluid {

    margin-left: 15px;
    width: 30px;
    height: 12px;
    margin-top: -10px;
  }
}

/* ========== TABLET (701px - 1000px) ========== */
@media (min-width: 701px) and (max-width: 1000px) {
  .col-lg-5,
  .col-lg-7 {
    margin-top: 60px;
  }

  .form-box {
    margin-left: 50px;
    width: 100% !important;
    max-width: 600px;
    height: auto;
  }

  .form-box .form-control {
    width: 100% !important;
    height: 55px;
  }

  .form-box textarea.form-control {
    height: 120px;
  }

  .form-box button {
    height: 55px;
    padding: 0 30px;
  }

  .img-fluid {
    width: 22px;
    height: 13px;
    margin-left: 20px;
  }
}
